* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans',serif;
}

/*Large Sections and HTML Types*/

html,
body {
  height: 100%;
}

body {
  color: #7F7F7F;
}

header {
  background-color: #404041;
  height: 90px;
}

main {
  display: flex;
  flex-direction: row;
}

article {
  border: 2px solid #EDEDED;
  background-color: white;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  height: 100vh;
}

button {
  background-color: #6E6E6E;
  color: white;
  border-radius: 20px;
  padding: 7px 10px 7px 10px;
  margin: 5px;
  font-weight: bold;
  font-size: 15px;
}

input {
  margin-bottom: 10px;
  height: 35px;
  min-width: 160px;
}

/*Colors*/

.pink {
  color: #DD1972;
}

.grey {
  color: #C6C6C7;
}

.white {
  color: white;
}

.pink-border {
  border: 2px solid #DD1972;
}

/*Flex Alignments*/

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-space-around {
  display: flex;
  justify-content: space-around;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.flex-end {
  display: flex;
  align-self: flex-end;
}

/*Section and Box Positioning*/

.header-adjust {
  margin-top: -12px;
}

.set-range-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-right {
  background-color: #D1D2D4;
  overflow-y: auto;
}

.section-left {
  background-color: #F5F6F8;
}

.text-box{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.name-box {
  width: 70%;
  padding-right: 10px;
}

.text-center {
  text-align: center;
}

.content-center {
  margin-left: auto;
  margin-right: auto;
}

.margin {
  margin-bottom: 20px;
}

.button-100 {
  width: 100%;
}

.game-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.right-ui {
  margin-top: -11px;
}

/*Font Adjustments*/

.bold {
  font-weight: bold;
}

.slim {
  font-weight: 300;
}

.larger {
  font-size: -webkit-xxx-large;
}

.large {
  font-size: xx-large;
}

.underline {
  text-decoration: underline;
}

.small {
  width: 2px;
  border: 1px #EDEDED solid;
  height: 160px;
  margin-top: -20px;
}

.line {
  background-color: #C6C6C7;
  height: 1px;
  width: 60px;
  margin-left: 8px;
  margin-right: 8px;
}

.guess-count {
  margin-left: 2px;
  margin-right: 2px;
}

.cvc {
  margin-bottom: 8px;
}

.guesses {
  margin-top: 8px;
  margin-bottom: -6px;
}

.delete {
  height: 22px;
  width: 1px;
}

.delete-inner {
  position: relative;
  left: -4px;
  top: -5px;
}

.winner {
  margin-top: 20px;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.show {
  display: block;
  position: absolute;
  margin-top: 4px;
  font-size: 10px;
  color: #DD1972;
}

.img {
  height: 10px;
  margin-right: 5px;
}

#update {
  margin-bottom: 10px;
}

#delete {
  max-height: 31px;
  font-size: 12px;
}

/*Button Actions*/

button:hover {
  background-color: #DD1972;
}

button:disabled {
  background-color: #D0D2D3;
}

button:focus,
input:focus {
  outline: 0px;
}

/*Animations and KeyFrames*/

.fade-in {
  animation-name: fade-in;
  animation-duration: 1.5s;
}

.fade-out {
  animation-name: fade-out;
  animation-duration: 1.6s;
}

.scale-up-center {
	-webkit-animation: scale-up-center 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.slide-bottom {
	-webkit-animation: slide-bottom 1.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 1.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/*Media Queries*/

@media (max-width: 861px) {
  .set-range-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .flex-end {
    display: flex;
    align-self: flex-start;
  }

  .column,
  .media-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .small {
    width: 160px;
    border: 1px #EDEDED solid;
    height: 2px;
    margin: 10px;
  }

  .name-box {
    width: 100%;
    padding-right: 0px;
  }

  section {
    height: auto;
  }
}

@media (max-width: 470px) {
  main {
    display: flex;
    flex-direction: column;
  }

  header {
    height: auto;
    padding-bottom: 10px;
  }

  #header {
    font-size: 11vw;
  }

  .header-adjust {
    font-size: 4vw;
    margin-top: -9px;
    height: auto;
  }

  .line {
    width: 40px;
  }
}
