* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans',serif;
}

body {
  color: #7F7F7F;
}

.pink {
  color: #DD1972;
}

.grey {
  color: #C6C6C7;
}

header {
  background-color: #404041;
  height: 90px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-space-around {
  display: flex;
  justify-content: space-around;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.flex-end {
  display: flex;
  align-self: flex-end;
}

.header-adjust {
  margin-top: -12px;
}

article {
  border: 2px solid #EDEDED;
  background-color: white;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.set-range-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: row;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  height: auto;
}

.section-right {
  background-color: #D1D2D4;
}

.section-left {
  background-color: #F5F6F8;
}

.text-box{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.name-box {
  width: 70%;
  padding-right: 10px;
}

.text-center {
  text-align: center;
}

.content-center {
  margin-left: auto;
  margin-right: auto;
}

.margin {
  margin-bottom: 20px;
}

.white {
  color: white;
}

button {
  background-color: #6E6E6E;
  color: white;
  border-radius: 20px;
  padding: 7px 10px 7px 10px;
  margin: 5px;
  font-weight: bold;
  max-height: 31px;
}

input {
  margin-bottom: 10px;
}

.bold {
  font-weight: bold;
}

.slim {
  font-weight: 300;
}

.larger {
  font-size: -webkit-xxx-large;
}

.large {
  font-size: xx-large;
}

.underline {
  text-decoration: underline;
}

.game-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.small {
  width: 2px;
  border: 1px #EDEDED solid;
  height: 160px;
  margin-top: -20px;
}

.line {
  background-color: #C6C6C7;
  height: 1px;
  width: 60px;
  margin-left: 8px;
  margin-right: 8px;
}

.guess-count {
  margin-left: 2px;
  margin-right: 2px;
}

.cvc {
  margin-bottom: 8px;
}

.guesses {
  margin-top: 8px;
  margin-bottom: -6px;
}

.delete {
  height: 22px;
  width: 1px;
}

.delete-inner {
  position: relative;
  left: -4px;
  top: -5px;
}

.winner {
  margin-top: 20px;
  margin-bottom: 20px;
}

button:disabled {
  background-color: #D0D2D3;
}

@media (max-width: 861px) {
  .set-range-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .flex-end {
    display: flex;
    align-self: flex-start;
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .small {
    width: 160px;
    border: 1px #EDEDED solid;
    height: 2px;
    margin: 10px;
  }
}

button:focus,
input:focus {
  outline: 0px;
}

@media (max-width: 615px) {
  main {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 470px) {
  #header {
    font-size: 36px;
  }
  .header-adjust {
    font-size: 13px;
    margin-top: -9px;
  }
  .line {
    width: 40px;
  }
}
